{% extends 'base.html.twig' %}

{% block body %}
<div class="hero-space">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="hero-space-headline">Simple, yet effective.</h1>
            </div>
        </div>
    </div>
</div>

{% endblock %}
